<div class='btn-group'>
  <%= button_to 'View', clearance_batch_path(batch), class: 'in-progress-button html-btn btn btn-info', method: 'get' %>
  <%= button_to 'Complete', clearance_batch_path(batch), class: 'in-progress-button complete-btn btn btn-success', name: 'close_batch', remote: true, method: :patch %>
</div>
