<%= render partial: 'index_form' %>
<div id='index_tables_container' class='container'>
  <div class='row'><%= render partial: 'in_progress_table' %></div>
  <div class='row'><%= render partial: 'completed_table' %></div>
</div>
