<div class='container'>
  <div class='col-md-12 text-center form-label'>
    <h5>Clearanace a single item into a batch or upload a CSV to clearance multiple items.</h5>
  </div>
  <%= render partial: 'index_form' %>
</div>
<div id='index_tables_container' class='container-fluid'>
  <%= render partial: 'index_tables' %>
</div>
