<div id='app_container'>

  <%= render partial: 'index_form' %>

  <div id='index_tables_container' class='container-fluid'>
    <div class='row'>

      <div id='active_table_container' class='col-md-6'>
        <%= render partial: 'table', locals: {batches: @active_batches, table_state: 'active'} %>
      </div>

      <div id='completed_table_container' class='col-md-6'>
        <%= render partial: 'table', locals: {batches: @completed_batches, table_state: 'completed'} %></div>
      </div>

    </div>
  </div>
</div>

