<div class='container'>
  <div class='col-md-12 text-center'>
    <p>Clearanace a single item into a batch or upload a CSV to clearance multiple items.</p>
  </div>
  <%= render partial: 'index_form' %>
</div>
<div id='index_tables_container' class='container-fluid'>
  <%= render partial: 'index_tables' %>
</div>
