header {
  margin: 10px;
}

.form-spacer {
  display: hidden;
}

.form_container {
  margin: 10px auto;
}

.form-control {
  margin: 10px 0px;
  height: 36px;
}

.form-control-file {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 5px 0px 5px 8px;
  height: auto;
}

.form-control.btn {
  margin: auto;
  height: 38px;
}

.form-control-file button {
}

.form-label {
  margin-top: 2%;
}
