.form-control {
  margin: 10px;
  height: 38px;
}

.form-control-file {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 5px 0px 5px 8px;
  height: auto;
}

.form-control-file button {
}

.form-control.btn {
  margin: 0 10px;
}

