header {
  margin: 10px;
}

.hero-img {
  display: block;
  max-width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.form-spacer {
  margin-top: 25px;
}

.form-spacer p {
  margin: 0;
}

.form-arrow {
  max-height: 50px;
}

.reverse-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#index_form {
  border: 2px solid #f5f5f5;
  border-radius: 20px;
}

#index_form_container {
  margin: 10px auto;
}

.form-control {
  margin: 10px 0px;
  height: 36px;
}

.form-control-file {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 5px 0px 5px 8px;
  height: auto;
}

.form-control.btn {
  margin: auto;
  height: 38px;
}

#submit_csv {
  margin-top: 11.5%;
}

.form-group {
  margin-top: 10px;
  padding: 10px;
}

.form-label {
  margin-top: 2%;
}


.table-body {
  display: block;
}

tbody{
  display: block;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

#help-toggle {
  display: none;
}

#help-container{
  overflow: hidden;
  max-height: 0;
  transition-property: all;
  transition-duration: 4s;
  // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#help-toggle:checked ~ #help-container {
  max-height: 500px;
}

.help-label {
  float: right;
}

.btn-help {
  max-height: 30px;
  max-width: 30px;
}
