#batch-report {
  border: 2px solid black;
}

#completed_batches_title {
  margin-top: 15px;
  padding: 1%;
  background-color: #f5f5f5
}

// .in_progress_batches_container {
//   padding: auto 0;
// }

#in_progress_batches_title {
  padding: 1%;
}

.report-header h4 {
  text-align: center;
}

.report-btn {
  font-size: .85em;
  margin: 0px 5px;
}

.report-row.gray-bg {
  background-color: gray;
}
