<div id='help-container' class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <h5 class='text-center'>CSV Batch:</h5>
      <ul>
        <li>Clearance a collection of items by uploading a CSV file.</li>
        <li>Choose a file from your computer and click 'Clearance CSV'</li>
        <li>CSV batches are automatically closed. IE Not Active. </br>Click 'Reopen' to add additional items to this batch.</li>
        <li>You will see a message detailing the outcome of your file.</li>
      </ul>
      <h5 class='text-center'>General:</h5>
      <ul>
        <li>Completed batch details can be viewed in HTML, PDF, and CSV</li>
        <li>The data in all three reports match.</li>
        <li>Using IE6, No Problem! All site functions work without javascript.</li>
        <li>Click the help icon again to remove this help box.</li>
      </ul>
    </div>
    <div class='col-md-6'>
      <h5 class='text-center'>Single Item:</h5>
      <ul>
        <li>Clearanace a single item
          <ul>
            <li>Enter the Item ID (number)</li>
            <li>Select a batch to add to from the dropdown (optional)</li>
            <li>Hit return or click 'Clearance Item!'</li>
          </ul>
        </li>
        <li>Dropdown will always default to the last updated batch</li>
         <li>Dropdown contains an option for 'New Batch'</li>
        <li>To close out a batch, click 'Complete'.</li>
        <li>A batch must be 'Active' to receive additional clearance Items.</li>
        <li>Once completed, a batch may be reactivated if needed.</li>
        <li>No Clicks! Input form resets after each item. </br>You just keep scanning!</li>
      </ul>
    </div>
  </div>
  <h6 class='text-center'>If you have any questions or suggestions which might improve your experience.</h6>
  <h6 class='text-center'>Please contact <%= mail_to 'bootcoder@hunters_fictional_support.co' %></h6>

</div>
